@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-user-select: none;
    user-select: none;
  }

  input,
  textarea {
    -webkit-user-select: text;
    user-select: text;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #2a2a38;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3a3a48;
  }
}
